.footer{
    background-color:var(--drkClr);
    width: 100%;
    /* height: 20vh; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    /* position: absolute;
    bottom: 0;
    margin: 0; */
}

.footerDiv{
    width: 100%;
    height: 100%;
    
}

.footerDiv1{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    padding: 20px 0;
   
}
.footerDiv2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}

.footerDiv1>*{
    margin: var(--mainMargin);
}

.footerDiv1 > p{
    max-width: 90%;
    
}
.footerDiv1 > h3{
    color: var(--white);
    margin:10px auto;
}

.footerDiv2 > p{
    width: 100%;
    align-self:center;
}



.footerDivBtn{
    display: block;
    width: 80%;
    border-radius: 5px;
    background-color: transparent;
    border: 5px solid var(--white);
    color: var(--white);
    text-decoration: none;
    text-align: center;
    padding: 5px 0;
    margin: 10px auto;
    cursor: pointer;
}



@media only screen and (min-width: 800px) {
    .footer{
        flex-direction: row;
        align-items: center;
    }
    .footerDiv{
        width: 50%;     
    }
    .footerDiv1 > p{
        max-width: 600px;
    }
    .footerDiv1 > h3{
        color: var(--white);
        margin:20px 20px;
        align-self: flex-start;
    }
    .footerDiv1{
        align-items: flex-start;
    }

    .footerDiv2{
         padding: 20px;
         display: flex;
         justify-content: center;
         align-items: center;
    }
    .footerDivBtn{
        width: 300px;
    }
    
  }

